{% if lang == 'en' %}
{% extends "base_en.html" %}
{% else %}
{% extends "base_uk.html" %}
{% endif %}
{% block head %}
{{ super() }}
<style>
    main {
        background: no-repeat center center;
        background-color: #ffff;
        background-size: cover;
        background-position: center;
        background-image: url("/static/img/home-bg.jpg");
    }
</style>
{% endblock %}
{% block content %}
{{ super() }}
<main>
    <div id="about" class="px-4 text-center">
        <div class="container col-xxl-8 px-4">
            <div class="row flex-lg-row-reverse align-items-center g-5">
                <div class="col-10 col-sm-8 col-lg-6 margin-top-5rem">
                    <img src="{{ url_for('static', filename='img/Dmytro_Solovei.jpg') }}"
                         class="d-block mx-lg-auto img-fluid my-photo border border-3 border-secondary rounded-3"
                         alt="Dmytro Solovei photo" loading="lazy">
                </div>
                <div class="col-lg-6 margin-top-5rem text-left">
                    <h1 class="display-6 fw-bold text-muted lh-1 mb-2">About Me</h1>
                    <h3 class="text-muted" style="text-align: left;">Senior Backend Java Software Developer</h3>
                    <p class="lead text-muted" style="text-align: justify;">Hello, my name is Dmytro. I am Senior Java
                        Developer with more than {{ work_experience }} years of experience.I worked on the development
                        of software for the nuclear industry, GPS systems, telephony, and in the field of public safety
                        (police, emergency service, etc.,).
                        I am passionate about creating efficient and
                        effective software solutions for various industries. I have an ability to work both
                        independently and as part of a team. I am always eager to learn and keep up-to-date with the
                        latest technologies and best practices in the industry. Thank you for visiting my page!</p>
                    <div class="d-grid gap-2 d-sm-flex text-left">
                        <a href="#skills">
                            <button type="button" class="btn btn-secondary hover-effect btn-padding-x">Skills</button>
                        </a>
                        <a href="#education">
                            <button type="button" class="btn btn-secondary hover-effect btn-padding-x">Education
                            </button>
                        </a>
                        <a href="#experience">
                            <button type="button" class="btn btn-secondary hover-effect btn-padding-x">Experience
                            </button>
                        </a>
                        <a href="#certificates">
                            <button type="button" class="btn btn-secondary hover-effect btn-padding-x">Certificates
                            </button>
                        </a>
                        <a href="#hobbies">
                            <button type="button" class="btn btn-secondary hover-effect btn-padding-x">Hobbies</button>
                        </a>
                        <a href="#contacts">
                            <button type="button" class="btn btn-secondary hover-effect btn-padding-x">Contacts</button>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <hr>
    <div id="skills" class="px-4 py-4 text-center">
        <img width="64" height="64" src="{{url_for('static', filename='img/skills.png')}}" alt="Skills"/>
        <h1 class="display-6 fw-bold text-muted">Skills</h1>
        <div class="container text-muted">
            <div class="row">
                {% for skill in skills %}
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>{{ skill }}</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for skill_item in skills[skill] %}
                            <li class="list-group-item">{{ skill_item }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{{ url_for('download', name='CV_Dmytro_Solovei.pdf') }}">
                <button type="button" class="btn btn-secondary hover-effect">Download CV</button>
            </a>
            <a href="#certificates">
                <button type="button" class="btn btn-outline-secondary hover-effect">View Certificates</button>
            </a>
        </div>
    </div>

    <hr>
    <div id="education" class="px-4 py-4 text-center">
        <img width="64" height="64" src="{{url_for('static', filename='img/education.png')}}" alt="Education"/>
        <h1 class="display-6 fw-bold text-muted">Education</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Kharkov National Aerospace University, Information systems and networks, specialist,
                Kharkiv, Ukraine, 2006 - 2011</p>
            <p class="lead mb-4">Dnipro college of welding and electronics, Technician of computing engineering, junior
                specialist, Dnipro, Ukraine, 2001 - 2005</p>
        </div>
    </div>
    <hr>
    <div id="experience" class="px-4 py-4 text-center">
        <img width="64" height="64" src="{{url_for('static', filename='img/experience.png')}}" alt="Experience"/>
        <h1 class="display-6 fw-bold text-muted">Experience</h1>
        <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-4 align-items-center justify-content-center">
            <div class="list-group text-muted">
                <a href="#" style="pointer-events: none; cursor: default;"
                   class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div class="justify-content-between">
                            <div class="d-flex gap-5 w-100 justify-content-between">
                                <p class="mb-0 opacity-75 job-title">SoftServe - Senior Java
                                    Software Developer</p>
                                <div class="justify-content-between">
                                    <p class="opacity-50 text-nowrap job-years">2022 - now</p>
                                </div>
                            </div>
                            <p class="mb-0 opacity-75 job-description">Developing applications for SIP
                                telephony and testing tools.
                                The project is based on Java, Spring, Python, Robot Framework</p>
                            <p class="mb-0 opacity-75 job-description"><span style="font-weight: bold">Customer:</span>
                                USA company</p>
                            <p class="mb-0 opacity-75 job-description"><span style="font-weight: bold">Tools & Technologies & Frameworks:</span>
                                Java,
                                SpringBoot, Python,
                                Robot Framework, Maven, Postman, GitHub, Microsoft Azure, Docker, Confluence, Scrum</p>
                        </div>

                    </div>
                </a>
                <a href="#" style="pointer-events: none; cursor: default;"
                   class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div class="justify-content-between">
                            <div class="d-flex gap-5 w-100 justify-content-between">
                                <p class="mb-0 opacity-75 job-title">SoftServe - Senior Java
                                    Software Developer</p>
                                <div class="justify-content-between">
                                    <p class="opacity-50 text-nowrap job-years">2017 - 2022</p>
                                </div>
                            </div>
                            <p class="mb-0 opacity-75 job-description">Developing web applications for emergency
                                services (911, ambulance, police etc). The main
                                purpose of the applications is to provide the end-users (dispatchers) information
                                about
                                incidents, units and help to provide action plans for it. Connecting different CAD
                                (Computer
                                Aided Dispatch) systems and exchanging emergency information.
                                Project is based on Java EE stack.
                            </p>
                            <p class="mb-0 opacity-75 job-description"><span style="font-weight: bold">Customer:</span>
                                USA company</p>
                            <p class="mb-0 opacity-75 job-description"><span style="font-weight: bold">Tools & Technologies & Frameworks:</span>
                                Java EE,
                                Servlets, Spring, REST, Google GRPC, JDBC, C-tree DB, Java WebSocket, XML, JSON,
                                HTML, CSS, Tomcat, Junit, Maven, Robot Framework, Postman, SOAP UI, Socket tools,
                                TeamCity, GitHub, Bitbucket, Artifactory, Confluence, Scrum</p>
                        </div>
                    </div>
                </a>
                <a href="#" style="pointer-events: none; cursor: default;"
                   class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div class="justify-content-between">
                            <div class="d-flex gap-5 w-100 justify-content-between">
                                <p class="mb-0 opacity-75 job-title">Ukrainian Center of Environmental and Water
                                    Projects
                                    (Academy of Technological Sciences of Ukraine) - Java
                                    Software Developer</p>
                                <div class="justify-content-between">
                                    <p class="opacity-50 text-nowrap job-years">2016 - 2017</p>
                                </div>
                            </div>
                            <p class="mb-0 opacity-75 job-description">Participating in development of software JRodos
                                (Realtime Online
                                Decision Support System - decision support system in case of accidents at nuclear power
                                plants) in collaboration with colleagues of Karlsruhe Institute of Technology (Germany).
                                Project is based on Java stack.
                            </p>
                            <p class="mb-0 opacity-75 job-description"><span style="font-weight: bold">Customer:</span>
                                EU and Ukraine companies</p>
                            <p class="mb-0 opacity-75 job-description"><span style="font-weight: bold">Tools & Technologies & Frameworks:</span>
                                Java SE, Swing, Spring, Hibernate, Netty, REST, Junit, PostgreSQL, Scrum</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{{ url_for('download', name='CV_Dmytro_Solovei.pdf') }}">
                <button type="button" class="btn btn-secondary hover-effect">Download CV</button>
            </a>
        </div>
    </div>
    <hr>
    <div id="certificates" class="px-4 py-4 text-center">
        <img width="64" height="64" src="{{url_for('static', filename='img/certificates.png')}}" alt="Certificates"/>
        <h1 class="display-6 fw-bold text-muted">Certificates</h1>
        {% include 'certificates.html' %}
    </div>
    <hr>
    <div id="hobbies" class="px-4 py-4 text-center">
        <img width="64" height="64" src="{{url_for('static', filename='img/hobbies.png')}}" alt="Hobbies"/>
        <h1 class="display-6 fw-bold text-muted">Hobbies</h1>
        <div class="col-lg-12 mx-auto">
            <p class="lead mb-4"> Football <img
                    style="margin-left: 0.5rem; margin-right: 0.5rem; width: 35px; height: 35px"
                    src="{{url_for('static', filename='img/football.png')}}"> Reading Books <img
                    style="margin-left: 0.5rem; margin-right: 0.5rem; width: 35px; height: 35px"
                    src="{{url_for('static', filename='img/books.png')}}"> History of World War II <img
                    style="margin-left: 0.5rem; margin-right: 0.5rem; width: 35px; height: 35px"
                    src="{{url_for('static', filename='img/war-history.png')}}"></p>
        </div>
    </div>
    <hr>
    <div id="contacts" class="px-4 py-4 text-center">
        <img width="64" height="64" src="{{url_for('static', filename='img/contacts.png')}}" alt="Contacts"/>
        <h1 class="display-6 fw-bold text-muted">Contact Me</h1>
        {% if lang == 'en': %}
        {% include 'contacts_en.html' %}
        {% else %}
        {% include 'contacts_uk.html' %}
        {% endif %}
        <a style="padding-bottom: 5rem" href="#about">
            <button type="button" class="btn btn-secondary">Up</button>
        </a>
    </div>
</main>
{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}